<div class="cinema">
  <div class="header">
    <h1 class="header-title">CINEMA SÃO CARLOS</h1>
  </div>
  <h2>Filmes em cartaz</h2>
  <div class="carousel-container">
    <button class="nav-arrow left-arrow" (click)="scrollLeft(movieList1)">&#10094;</button>
    <div class="movie-list" #movieList1>
      <div *ngFor="let movie of movies; trackBy: trackByMovieId" class="movie-card">
        <a [routerLink]="['/movie', movie.id]">
          <div class="film-strip">
            <div class="film-square"></div>
            <div class="film-square"></div>
            <div class="film-square"></div>
            <div class="film-square"></div>
          </div>
          <img
            [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
            alt=""
            srcset=""
            class="movie-banner"
          />
          <p class="movie-title">{{ movie.title }}</p>
          <div class="film-strip">
            <div class="film-square"></div>
            <div class="film-square"></div>
            <div class="film-square"></div>
            <div class="film-square"></div>
          </div>
        </a>
      </div>
    </div>
    <button class="nav-arrow right-arrow" (click)="scrollRight(movieList1)">&#10095;</button>
  </div>

  <h2>Próximos lançamentos</h2>
  <div class="carousel-container">
    <button class="nav-arrow left-arrow" (click)="scrollLeft(movieList2)">&#10094;</button>
    <div class="movie-list" #movieList2>
      <div *ngFor="let release of nextReleases; trackBy: trackByMovieId" class="movie-card">
        <a [routerLink]="['/movie', release.id]">
          <div class="film-strip">
            <div class="film-square"></div>
            <div class="film-square"></div>
            <div class="film-square"></div>
            <div class="film-square"></div>
          </div>
          <img
            [src]="'https://image.tmdb.org/t/p/w500' + release.poster_path"
            alt=""
            srcset=""
            class="movie-banner"
          />
          <p class="movie-title">{{ release.title }}</p>
          <div class="film-strip">
            <div class="film-square"></div>
            <div class="film-square"></div>
            <div class="film-square"></div>
            <div class="film-square"></div>
          </div>
        </a>
      </div>
    </div>
    <button class="nav-arrow right-arrow" (click)="scrollRight(movieList2)">&#10095;</button>
  </div>
</div>
